@model List<English.Data.Lesson>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class=""></div>
</div>
<div class="row">
    <h3>10 câu trong tổng số <span class="text-danger">@ViewBag.SetencesCount</span> câu</h3>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên bài</th>
                <th scope="col">Tiếng việt</th>
                <th scope="col">Cập nhật</th>
                <th scope="col">Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lesson in Model)
            {
                <tr>
                    <th scope="row">@lesson.id</th>
                    <td>
                        <a asp-action="Learn" asp-controller="Home" asp-route-id="@lesson.id">
                            @lesson.title
                        </a>
                    </td>
                    <td style="max-width:500px">
                        @if (lesson.vietnamese_text != null && lesson.vietnamese_text.Length >= 100)
                        {
                            <span>@Html.Raw(lesson.vietnamese_text.Substring(0, 100))</span>
                        }
                        else
                        {
                            <span>@Html.Raw(lesson.vietnamese_text)</span>
                        }
                    </td>
                    <td>@lesson.date_modified</td>
                    <td style="width: 155px;">
                        <a asp-action="Edit" asp-controller="Home" asp-route-id="@lesson.id" title="Sửa '@lesson.title'">
                            <div class="btn btn-primary">
                                <i class="fas fa-pencil-alt"></i>
                            </div>
                        </a>
                        <a asp-action="Delete" asp-controller="Home" asp-route-id="@lesson.id" onclick="return confirm('Bạn có thật sự muốn xoá không?');" title="Xoá '@lesson.title'">
                            <div class="btn btn-danger" style="margin-left : 10px;">
                            <i class="far fa-trash-alt"></i>
                            </div>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>






